.flexbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.section {
    height: 500px;
}

.item img {
    height: 50%;
    width: 50%;
    border: 5px solid black;
    border-radius: 25px;
}

.main-img {
    margin-left: auto;
    margin-right: 24px;
}

.main-info {
    margin-left: 24px;
    margin-right: auto;
}

img {
    border-radius: 48px;
}

#header-links.flexbox-container {
    align-items: center;
    gap: 24px;

}

.header.flexbox-container {
    align-items: center;

}

#header-logo {
    margin-left: 24px;
    font-size: 24px;
}

#header-links {
    margin-left: auto;
    margin-right: 24px;
}

.item-showcase {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}

.item.flexbox-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}
.one {
    background-color: #1F2937;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
.two {
    background-color: white;
}
.three {
    background-color: #E5E7EB;
}
.four {
    background-color: white;
}
.footer {
    background-color: #1F2937;
}

h1, h2, h3, h4, h5, h6, a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
