.flexbox-container {
    display: flex;
    flex-direction: row;
}

.section {
    height: 500px;
}

.item img {
    height: 100px;
    width: 100px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.main-info img {
    border-radius: 100px;
    margin-left: auto;
    margin-right: 10px;
}

#header-links.flexbox-container {
    align-items: center;
    gap: 24px;

}

.header.flexbox-container {
    align-items: center;

}

#header-logo {
    margin-left: 24px;
    font-size: 24px;
}

#header-links {
    margin-left: auto;
    margin-right: 24px;
}

.item-showcase {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}

.item.flexbox-container {
    flex-direction: column;
    align-items: center;
}
.one {
    background-color: #1F2937;
    color: whitesmoke
}
.two {
    background-color: white;
}
.three {
    background-color: #E5E7EB;
}
.four {
    background-color: white;
}
.footer {
    background-color: #1F2937;
}

h1, h2, h3, h4, h5, h6, a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
